@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Quicksand');

body * {
  font-family: "Quicksand";
}

.brand-title {
  font-family: "Inconsolata";
}

#g-c {
  width: 100%;
  height: 500px;
}

.disclaimer {
  font-size: 0.75em;
}
